
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Enter your email</ion-title>
    <p class="subtitle">To recieve a reset password link</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <div class="signuplink">
        <p>Not sure? <a [routerLink]="['/signup']">Sign up again</a></p>
      </div>
      
    </div>
    <ion-fab class="button" slot="fixed" vertical="bottom" horizontal="end" style="margin: 0 20px 20px 0;" >
      <ion-fab-button color="primary" [routerLink] = "['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>



  </form>
</ion-content>
