

.big-text{
  font-size: 22px;
  font-weight: 700;
  margin: 8px 0 12px;
  color: #0000;
}

.search-row{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: center;
}

ion-button.filter-button{
  --border-color: var(--ion-color-primary);
  --border-radius: 50px;
  border-width: 10px;
  --color: var(--ion-color-primary);
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 52px;

}

ion-button.filter-button:hover{
  --color: var(--ion-color-secondary);
}

ion-header{
  height: 50px;
  border-radius: 0 0 20px 20px;
  ion-toolbar{
    border-radius: 0 0 20px 20px;
    ion-item{
    --background: transparent;
    }
  }
  
}

.nav-btn{
  color: #0000;
}


ion-searchbar{
  --border-radius: 24px;
}

//------------CATBAR--------------

.catbar{
  color: black;
  display: flex; gap: 8px; overflow-x: auto; padding: 10px 0;
  &::-webkit-scrollbar { display: none; }
}

.catbtn{
  display: grid; 
  place-items: center;
  gap: 6px;
}

ion-content{
  .container{
    margin: 0 1.5vh;
  }
}





