.big-text{
  font-size: 22px;
  font-weight: 700;
  margin: 8px 0 12px;
  color: #0000;
}

.search-row{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: center;
}

ion-button.filter-button{
  --border-color: var(--ion-color-primary);
  border-width: 10px;
  --color: var(--ion-color-primary);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 52px;

}

ion-button.filter-button:hover{
  --color: var(--ion-color-secondary);
}





